@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

:root{
    --primary-color: #34a0a4;
    --secondary-color:  #1a5052;
}
body{
    font-family: 'Cabin', sans-serif;
    margin: 0;
}
/* navigation  */
nav{
    text-align: center;
    color: white;
    background-color: var(--primary-color);
    padding: 0.75rem;
    border-bottom-left-radius: 2rem;
}

/* main body  */
.main{
    display: flex;
    flex-direction: column;
    width: 60vw;
    text-align: center;
    margin: auto;
}


 .description{
     font-weight: bold;
     font-size: 1.3rem;
     margin: 0.5rem;
 }


#cash-given{
    font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}   

#bill-amount{
    font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

.input-label {
    display: block;
    font-size: large;
    font-weight: 600;
  }
  
  .input {
    font-size: 14px;
    padding: 0.6rem 1rem;
    margin: 1rem ;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 2px;
  }



#check-button{
    display: block;
    margin: auto;
    padding: 1rem;
    color: white;
    background-color: var(--primary-color) ;
    border: none;
    border-radius: 1rem;
    font-size: 120%;
}

/* table  */
.change-table {
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
  }
  
  .change-table caption {
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
  }
  
  th,
  td {
    border: 2px solid var(--primary-color);
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
  }


/* footer  */

 footer{
     border-top-right-radius: 2rem;
     width: 100%;
     background-color: var(--primary-color);
     color: whitesmoke;
     text-align: center;
     padding-bottom: 1rem;
 }
.footer-btn{
     text-decoration: none;
     color: var(--secondary-color);
     padding: 0.5rem 1rem;
     background: white;
     border-radius: 1rem;
 }